In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("/Users/tushark/Downloads/netflix.csv")

In [5]:
data.head(2)

,title,genre,language,imdb_score,premiere,runtime,year
0,Notes for My Son,Drama,Spanish,6.3,11/24/2020,83,2020
1,"To Each, Her Own",Romantic comedy,French,5.3,6/24/2018,95,2018

In [6]:
data.isnull().sum()

title         0
genre         0
language      0
imdb_score    0
premiere      0
runtime       0
year          0
dtype: int64

In [7]:
en_data = data[["genre","language"]]
en_data

                  genre language
0                 Drama  Spanish
1       Romantic comedy   French
2       Romantic comedy  English
3       Horror-thriller  English
4       Romantic comedy  English
..                  ...      ...
578         Documentary  English
579  Supernatural drama   German
580     Romantic comedy   Polish
581         Documentary  English
582         Documentary  English

[583 rows x 2 columns]

In [8]:
pd.get_dummies(en_data) # for encoding means change to numeric data

,genre_Action,genre_Action comedy,genre_Action thriller,genre_Action-adventure,genre_Action-thriller,genre_Action/Comedy,genre_Action/Science fiction,genre_Adventure,genre_Adventure-romance,genre_Adventure/Comedy,...,language_Portuguese,language_Spanish,language_Spanish/Basque,language_Spanish/Catalan,language_Spanish/English,language_Swedish,language_Tamil,language_Thai,language_Thia/English,language_Turkish
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
580,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
581,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
582,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Columns: 152 entries, genre_Action to language_Turkish
dtypes: bool(152)
memory usage: 86.7 KB

In [12]:
# using sckit learn Encoding data
from  sklearn.preprocessing import OneHotEncoder

In [13]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)

<583x152 sparse matrix of type '<class 'numpy.float64'>'
	with 1166 stored elements in Compressed Sparse Row format>

In [16]:
ohe = OneHotEncoder()
ar = ohe.fit_transform(en_data).toarray()

In [17]:

pd.DataFrame(ar)

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# pd.DataFrame(ar,columns=["genre","language"]) Not Working