In [1]:
import  pandas as pd

In [2]:
dataset = pd.read_csv("/Users/tushark/Downloads/cars_clus.csv")

In [4]:
dataset.head(3)

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0
1,Acura,TL,39.384,19.875,0,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0
2,Acura,RL,8.588,29.725,0,42.0,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0

In [5]:
dataset.shape

(117, 16)

In [6]:
dataset.isnull().sum()

manufact     0
model        0
sales        0
resale       0
type         0
price        0
engine_s     0
horsepow     0
wheelbas     0
width        0
length       0
curb_wgt     0
fuel_cap     0
mpg          0
lnsales      0
partition    0
dtype: int64

In [8]:
dataset.notnull().sum()

manufact     117
model        117
sales        117
resale       117
type         117
price        117
engine_s     117
horsepow     117
wheelbas     117
width        117
length       117
curb_wgt     117
fuel_cap     117
mpg          117
lnsales      117
partition    117
dtype: int64

In [9]:
dataset.notnull().sum().sum()

1872