Imbalanced Dataset:
-  A dataset with unequal class distribution

In [1]:
#importing dependencies
import numpy as np
import pandas as pd

In [2]:
# collecting dataset
dataset = pd.read_csv("/Users/tushark/Python_datasets/credit_data.csv")
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
dataset.shape

(284807, 31)

In [4]:
dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
# distribution of the two classes
dataset['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

 This is highly imbalanced dataset : 
0==> legit Transactions
1==> Fradulent transaction

In [6]:
# separating the legit and fradulent transactions
legit = dataset[dataset.Class==0]
fradulent = dataset[dataset.Class==1]

In [7]:
print(legit.shape)
print(fradulent.shape)

(284315, 31)
(492, 31)

Under sampling

Build a sample dataset containing similar distribution of Legit & Fraudulent Transactionds

Number of Fraudulent Transactions --> 492

In [8]:
legit_sample = legit.sample(n=492)

In [9]:
print(legit_sample.shape)

(492, 31)

Concatenate the Two DataFrames

In [10]:
new_dataset = pd.concat([legit_sample, fradulent], axis = 0)

In [11]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
178428,123622.0,-3.045199,-2.991378,1.097173,0.068913,3.838066,0.280782,-1.731473,0.613353,0.731041,...,0.336084,1.085183,-0.022868,-0.904988,-0.003987,-0.343729,0.099939,0.396145,63.00,0
145728,87160.0,-0.633412,0.966433,0.980140,-0.346601,0.583528,-0.038074,0.672229,-0.314813,0.498632,...,0.261047,1.064023,-0.314348,0.629810,-0.029839,-0.165738,-0.347484,-0.043811,18.73,0
261392,159992.0,-0.467075,1.046641,0.223296,-0.012815,1.015462,-0.995079,1.817839,-0.313361,-0.605114,...,0.144010,0.431624,-0.317214,-0.032389,0.468103,-0.605682,0.090564,0.134199,48.46,0
110778,71970.0,-0.342795,1.119676,1.293131,0.063246,0.032520,-0.993425,0.689188,-0.063825,-0.372611,...,-0.266359,-0.701570,-0.017756,0.325237,-0.165138,0.072728,0.245272,0.097943,0.89,0
270331,164025.0,2.164656,-0.808197,-1.138337,-1.227275,-0.245800,-0.068995,-0.665394,-0.028317,-0.622381,...,-0.234711,-0.825604,0.409641,0.045421,-0.467675,-0.706735,-0.021466,-0.049161,28.98,0

In [12]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [13]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64